@import 'mixin';
@import 'var';

.contacts {
  margin-bottom: 69px;

  &__container {
    max-width: 1290px;
    margin: 0 auto;
  }

  &__wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 410px;
    grid-template-rows: 1fr;
  }

  &__map {
    @include backgroundImage('/img/map.jpg');
    height: 460px;
  }

  &__request {
    display: flex;
    flex-direction: column;
    // width: 410px;
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    @include sectionTitle;
    color: #202020;
  }

  &__descr {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: $color-bacground-dark;
    margin-bottom: 14px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title__form {
    @include formTitle;
  }

  &__input {
    @include formInput;
    height: 50px;
    color: #999;
    background-color: #e9e9e9;
    margin-bottom: 20px;
  }

  &__text {
    @include formInput;
    height: 150px;
    color: #999;
    background-color: #e9e9e9;
    margin-bottom: 20px;
  }

  &__btn {
    margin-right: auto;
    @include btnPrimary;
  }
}

@media (max-width: $media-xl) {
  .contacts {
    margin-bottom: 71px;

    &__container {
      max-width: 962px;
      padding-top: 5px;
    }

    &__title {
      margin-bottom: 18px;
    }

    &__wrapper {
      grid-template-columns: 1fr 342px;
      grid-template-rows: 1fr;
    }

    &__map {
      @include backgroundImage('/img/map_1024.jpg');
    }
  }
}
@media (max-width: $media-lg) {
  .contacts {
    margin-bottom: 48px;

    &__container {
      max-width: 714px;
    }

    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 460px 466px;
    }

    &__map {
      @include backgroundImage('/img/map_768.jpg');
    }

    &__request{
      max-width: 467px;
    }

    &__title__form{
      margin-bottom: 5px;
    }
  }
}
@media (max-width: $media-sm) {
  .contacts {
    max-width: 278px;

    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 472px 1fr;
    }

    &__map {
      @include backgroundImage('/img/map_320.jpg');
    }
  }
}
