@import 'modal';
@import 'mixin';
@import 'var';

.contacts {
  margin-bottom: 69px;

  &__container {
    max-width: 1290px;
    margin: 0 auto;
  }

  &__wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 410px;
    grid-template-rows: 1fr;
  }

  &__map {
    position: relative;
    @include backgroundImage('/img/map.jpg');
    height: 460px;
  }

  &__request {
    display: flex;
    flex-direction: column;
    // width: 410px;
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    @include sectionTitle;
    color: #202020;
  }

  &__descr {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: $color-bacground-dark;
    margin-bottom: 14px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title__form {
    @include formTitle;
  }

  &__input {
    @include formInput;
    height: 50px;
    color: #999;
    background-color: #e9e9e9;
    margin-bottom: 20px;
  }

  &__text {
    @include formInput;
    height: 150px;
    color: #999;
    background-color: #e9e9e9;
    margin-bottom: 20px;
  }

  &__btn {
    margin-right: auto;
    @include btnPrimary;
  }

  &__modal {
    width: 48%;
    height: 100%;
  }
}

@media (max-width: $media-xl) {
  .contacts {
    margin-bottom: 67px;

    &__container {
      max-width: 962px;
      padding-top: 5px;
    }

    &__title {
      margin-bottom: 18px;
    }

    &__wrapper {
      grid-template-columns: 1fr 342px;
      grid-template-rows: 1fr;
    }

    &__map {
      @include backgroundImage('/img/map_1024.jpg');
      height: 467px;
    }

    &__text{
      margin-bottom: 24px;
    }

    &__modal {
      width: 100%;
      height: 34%;
    }
  }
}
@media (max-width: $media-lg) {
  .contacts {
    margin-bottom: 48px;

    &__container {
      max-width: 714px;
    }

    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 460px 466px;
    }

    &__map {
      @include backgroundImage('/img/map_768.jpg');
    }

    &__request{
      max-width: 467px;
    }

    &__title__form{
      margin-bottom: 5px;
    }
  }
}
@media (max-width: $media-sm) {
  .contacts {

    &__container {
      max-width: 320px;
      padding-top: 0;
    }
    
    &__title {
      @include sectionTitle-sm; 
       margin-bottom: 20px;
       padding-left: 19px;
    }

    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 464px 431px;
      gap: 25px;
    }

    &__map {
      @include backgroundImage('/img/map_320.jpg');
    }

    &__request {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__title__form{
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 9px;
    }

    &__descr {
      font-size: 14px;
      line-height: 18px;
    }

    &__input {
      font-size: 14px;
      line-height: 16px;
      margin-bottom:20px;
      height: 40px;
    }

    &__text {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 20px;
    }

    &__btn {
      @include btnPrimary-sm;
    }
  }
}
