@import 'mixin';
@import 'var';

.footer {
  &__container {
    max-width: 1900px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 16px;
    background-color: $color-bacground-dark;
  }
  &__wrapper {
    max-width: 1290px;
    display: grid;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
  }
  &__item {
    &__one {
      display: flex;
      flex-direction: column;
    }
    &__two {
      margin-right: 50px;
      justify-self: center;
      max-width: 361px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: #cacaca;
    }
    &__three {
      justify-self: end;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: #cacaca;
      width: 161px;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    svg:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__sign {
    font-family: 'TTFirsNeue';
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #e9e9e9;
  }
  &__title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }
}

@media (max-width: $media-xl) {
  .footer {
    &__container {
      max-width: 1024px;
      padding-top: 23px;
    }

    &__wrapper {
      grid-template-columns: 305px 361px 160px;
      max-width: 962px;
      align-items: center;
    }

    &__item__two {
      margin-right: 0;
    }
    
  }
}

@media (max-width: $media-lg) {
  .footer {
    &__container {
      max-width: 768px;
    }

    &__wrapper {
      max-width: 714px;
      grid-template-columns: 1fr 1fr;
    }

    &__item__two {
      display: none;
    }
  }
}
@media (max-width: $media-sm) {
  .footer {
    &__container {
      padding-bottom: 0;
      padding-top: 0;
    }

    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 120px 66px;
    }

    &__item__one {
      grid-row: 2;
      background-color: #4A4A4A;
      padding-top: 10px;
      padding-bottom: 10px;
      align-items: center;
    }
    

    &__item__three {
      grid-row: 1;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 14px;
      text-align: center;
      background-color: #202020;
    }

    &__sign{
      font-size: 10px;
      line-height: 13px;
    }
  }
  }

