@import 'mixin';

.hero {
  margin-bottom: 68px;

  &__container {
    max-width: 1900px;
    margin: 0 auto;
  }

  &__wrapper {
    max-width: 1293px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 343px 257px;
  }

  &__item__one {
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    @include backgroundImage('/img/hero_one.jpg');
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
  }

  &__item__two {
    grid-column: 3 / span 2;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    padding-top: 3px;
  }

  &__subTitle {
    font-family: 'TTFirsNeue';
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }

  &__note {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }

  &__title {
    font-family: 'TTFirsNeue';
    max-width: 427px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 37px;
    color: #fff;
  }
  &__label {
    @include label;
    top: 15px;
    right: 15px;
  }
  &__btn {
    @include btnPrimary;
  }
}

@media (max-width: 1279px) {
  .hero {
    &__container {
      max-width: 1024px;
    }
    &__wrapper {
      max-width: 963px;
      grid-template-rows: 407px 186px;
    }

    &__item__one {
      padding: 30px;
      @include backgroundImage('/img/hero_one_1024.jpg');
    }

    &__item__two{
      padding-top: 0;
    }

    &__title {
      margin-bottom: 24px;
      font-size: 34px;
      line-height: 34px;
    }

    &__note {
      margin-bottom: 8px;
    }

    &__subTitle {
      margin-bottom: 26px;
    }
  }
}

@media (max-width: 992px) {
  .hero {
    margin-bottom: 68px;

    &__container {
      max-width: 768px;
    }

    &__wrapper {
      max-width: 714px;
      grid-template-rows: 289px 133px;
    }

    &__item__one {
      @include backgroundImage('/img/hero_one_768.jpg');
      padding-bottom: 31px;
    }

    &__title {
      margin-bottom: 22px;
      font-size: 34px;
      line-height: 31px;
  }

  &__note{
    margin-bottom: 15px;
  }

    &__subTitle {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 17px;
    }
  }
}

@media (max-width: 576px) {
  .hero {
    &__container {
      max-width: 320px;
    }
    &__wrapper {
      max-width: 278px;
    }

    &__wrapper {
      gap: 30px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 422px 400px;
    }

    &__item__one {
      position: relative;
      grid-column: 1 / span 2;
      grid-row: 1;
      @include backgroundImage('/img/hero_one_320.jpg');
    }

    &__item__two {
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    &__note {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 16px;
    }

    &__title{
      margin-bottom: 12px;
      font-size: 24px;
      line-height: 110%;

    }

    &__btn{
      @include btnPrimary-sm;
    }

    &__label{
      @include label-sm;
      }
    }
  }

