@import 'mixin';
@import 'var';

.about {
  margin-bottom: 70px;

  &__container {
    max-width: 1900px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 68px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $color-bacground-dark;

  }

  &__wrapper {
    max-width: 1290px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  &__title {
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 5px;
    @include sectionTitle;
    color: #fff;
  }

  &__descr {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #cacaca;
  }

  &__img{
    margin-bottom: 25px;
  }

  &__title__form {
    @include formTitle;
    margin-bottom: 16px;
    color: #fff;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    @include formInput;
    width: 100%;
    margin-right: 30px;
    color: #cacaca;
    background-color: #4A4A4A;
  }
  &__btn{
    @include btnPrimary;
  }
}
@media (max-width: $media-xl) {
  .about{
    &__container {
      max-width: 1024px;
    }
    &__form {
      flex-direction: column;
      align-content: flex-start;
    }
    &__btn{
      margin-right: auto;
    }
    &__wrapper {
      max-width: 963px;
    }
    &__input {
      margin-bottom: 20px;
    }
  }
}
@media (max-width:$media-lg) {
  .about{
    &__container {
      max-width: 768px;
    }
    &__btn{
      margin-right: auto;
    }
    &__wrapper {
      max-width: 714px;
    }
   
  }
}

@media (max-width:$media-sm) {
  .about{
    &__container {
      padding-top: 30px;
      padding-bottom: 68px;
    }
    &__wrapper {
      max-width: 278px;
      grid-template-columns: 1fr ;
      grid-template-rows: 1fr max-content;
    }
   
  }
}