@import 'mixin';
@import 'var';

.footer {
  &__container {
    max-width: 1900px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 16px;
    background-color: $color-bacground-dark;
  }
  &__wrapper {
    max-width: 1290px;
    display: grid;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
  }
  &__item {
    &__one {
      display: flex;
      flex-direction: column;
    }
    &__two {
      justify-self: center;
      max-width: 361px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: #cacaca;
    }
    &__three {
      justify-self: end;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: #cacaca;
      width: 160px;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    svg:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__sign {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #e9e9e9;
  }
  &__title{
    margin-bottom: 8px;
  }
}

@media (max-width: $media-xl) {
  .footer {
    &__container {
      max-width: 1024px;

    }
    &__wrapper {
      max-width: 962px;
    }
  }
}
@media (max-width: $media-lg) {
  .footer {
    &__container {
      max-width: 768px;

    }
    &__wrapper {
      max-width: 714px;
      grid-template-columns: 1fr 1fr;
    }
    &__item__two{
      display: none;
    }
  }
}
@media (max-width: $media-sm) {
  .footer {
    &__container {
      padding-bottom: 0;
    }
    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
  
    } 
    &__item__one{
      justify-self: center;
    }
    &__item__three {
      width: 100%;
      padding-top: 14px;
      padding-bottom: 14px;
      text-align: center;
      justify-self: center;
      background-color:  #4A4A4A;;
    }
  }
}
